@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Hello There, Welcome To My Monthly Contract Claim System.<br />Press The Button Below To Begin!</h5>
    
    <a asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-action="SignUp" class="btn btn-secondary">Start Program</a>
        
</div>
